body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    /* 컨테이너 안에 있는 요소에 display:flex를 주었더니 그 컨테이너 안에 요쇼가 다 들어가도록 설정이 됨. 왼쪽 -> 오른쪽*/
    display: flex;
    flex-direction: row;
    /* row, row-reverse, column, column-reverse */
    justify-content: center;
    align-items: flex-end;
    /* flex-start, flex-end. center */
    /* space-between - 바깥 여백을 다지우고 요소 사이에만 공간을 준다*/
    /* space-around - 요소와 여백까지 공간을 뛰게한다. 하지만 여백과 요소 사이의 공백의 크기가 같지는 않음 */
    /* space-evenly - 컨테이너와 여백의 공간을 똑같게함 */
    /* flex-direction가 있어야 사용이 가능하다. */
    /* flex-wrap: wrap-reverse; */
    /* wrap 은 상하좌우로 요소들을 컨트롤 하는 코드이다. */
    /* align-items: baseline; */
    /* baseline 글꼴의 제일 아래점 맞춰서 시작함. */
}

#container div{
    height: 200px;
    width: 200px;
    text-align: center;
    /* font-size: 4em; */
}