html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #60a9ff;
    display: flexbox;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel{
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
}