/* *{
    background-color: aqua;
} */

body{
    background-color: #f1faee;
}

button{
    font-size: 30px;
    background-color: #a8dadc;
}

h1,h2{
    color: darkslateblue;
}

#sighup{
    background-color: #1d3357;
    color: aquamarine;
}

span{
    color: #45789a;
}

.tag{
    background-color: #e63946;
    color: #123422;
    
}

/* li a 의 경우 li안에 있는 a앵커태그만 포함이다 즉 li는 안바뀜 */
span a{
    color: #45789d;
}

.post a{
    color: #45789d;
}

footer a{
    color: red;
}